/*Resset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}
/*
1.Làm từ ngoài vào trong
2.Làm từ trên xuống dưới
3.Làm từ tổng quang đến chi tiết
*/

/*
1.Vị trí 
2. Kích thước
3. Màu sắc
4.Kiểu dáng
*/
#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {

}
#nav, .subnav{
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top : 100%;
    left:0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}


#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}
#nav .subnav a {
    padding: 0 12px;
   
}


#slider {

}

#content {

}

#footer {

}
