/*Resset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}
/*
1.Làm từ ngoài vào trong
2.Làm từ trên xuống dưới
3.Làm từ tổng quang đến chi tiết
*/

/*
1.Vị trí 
2. Kích thước
3. Màu sắc
4.Kiểu dáng
*/

.clear {
    clear: both;
}
 
.text-white {
    color: #fff !important;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top : 100%;
    left:0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}
#nav .subnav a {
    padding: 0 12px;
   
}

#header .seach-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .seach-btn:hover{
    background-color: rgb(244, 67, 54);
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* It equal 50% width itself*/
    background: url("/assets/img/chicago.jpg") top center / cover no-repeat ; 
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .test-description{
    font-size: 15px;
    margin-top: 25px;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-subheading {
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour Section*/
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color:#fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #5b5b5b;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#footer {

}
