/*Resset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
/*
1.Làm từ ngoài vào trong
2.Làm từ trên xuống dưới
3.Làm từ tổng quang đến chi tiết
*/

/*
1.Vị trí 
2. Kích thước
3. Màu sắc
4.Kiểu dáng
*/

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-right: -8px;
    margin-left: -8px;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}


/* Main */
#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top : 100%;
    left:0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}
#nav .subnav a {
    padding: 0 12px;
   
}

#header .seach-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .seach-btn:hover{
    background-color: rgb(244, 67, 54);
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* It equal 50% width itself*/
    background: url("/assets/img/chicago.jpg") top center / cover no-repeat ; 
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .test-description{
    font-size: 15px;
    margin-top: 25px;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-subheading {
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}



#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour Section*/
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color:#fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #5b5b5b;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/*Place*/
.places-list {
    margin-top: 32px;
}



.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.place-buy-button:hover {
    color: #000;
    background-color: #ccc;
}

/* Contact */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}


.form-submit-btn {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    float: right;
}


/* Map Section */
.map-section img {
    width: 100%;
}



#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}

#footer .socials-list a:hover {
    opacity: 0.4;
    cursor: pointer;
}

#footer .copyright {
    font-size: 15px;
    margin-top: 15px;
    color: #000;
    opacity: 0.6;
}

#footer .copyright a {
    opacity: 0.4;
    cursor: pointer;
}

/* Modal*/
.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.9s;
}

.modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

label.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}

button#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
}
button#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

.modal-footer {
    padding: 16px;
    text-align: right;    
}

.modal-footer a {
    color: #2196F3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}




